.bodyBackground {
  background-color: #000000;
}
.footerBackground {
  background-color: #181818;
}

.margin {
  margin: 0;
  padding: 0;
}
.scrollable-list {
  margin: 0;
  padding: 0;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #000000;
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-button {
  display: none;
}

.scrollable-list::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.font {
  /*font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);*/
  font-weight: 400;
  font-style: normal;
  color: grey;
  font-size: 0.9em;
  line-height: 2;
}

.foto {
  border-radius: 100%;
  width: 1.8em;
  margin-right: 6px;
}

.text {
  line-height: 0.3;
  font-size: 0.7em;
}

.fotofooter {
  border-radius: 0%;
  width: 2.5em;
  margin-right: 6px;
}

.scrollable-list2 {
  margin: 0;
  padding: 0;
  height: 644px;
  overflow-y: auto;
  border: 1px solid #000000;
}

.scrollable-list2::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list2::-webkit-scrollbar-button {
  display: none;
}

.scrollable-list2::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-list2::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0px;
}

.scrollable-list2::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-border {
  border: 2px solid #181818;
  border-radius: 15px;
}

.container1 {
  position: relative;
}

.overlay-column {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
}
